---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Página 3 - Astro WebGL" pageId={3}>
  <nav class="nav-buttons">
    <a href="/">Ir a Página 1</a>
    <a href="/page-2">Ir a Página 2</a>
    <a href="/page-4">Ir a Página 4</a>
  </nav>
  <h1>Página 3</h1>
  <p>
    Combina lo mejor de Astro con el poder de WebGL para crear
    experiencias web únicas e inmersivas.
  </p>
  <img data-sampler="texture0" id="texture0" src="/relative-vs-absolute-css-unit.tkbyi3lG_1OPOW2.avif" crossorigin="anonymous" />
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat quo numquam repellat, voluptatibus magni quis reiciendis?</p>
</Layout>
